[Unit]
Description=Ruuvitag sensor readings
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/
ExecStart=/usr/bin/env python ruuvitag-webserver.py
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2

[Install]
WantedBy=ruuvitag-webserver.target
