[Unit]
Description=Ruuvitag sensor readings
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/raspi-ruuvitag
ExecStart=/usr/bin/env python httpserver.py
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=2

[Install]
WantedBy=ruuvitag-httpserver.target
